name: release

on:
  push:
    branches: [deploy, test-pre-release]
    tags: [v*]
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      release-artifact-id: ${{ steps.upload-release.outputs.artifact-id }}
      wheel-artifact-id: ${{ steps.upload-wheel.outputs.artifact-id }}
      artifact-runner: ${{ github.job }}

    permissions:
      contents: write # Used to authenticate github release publish

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Reject any VCS dependencies
      shell: python
      run: |
        import re, tomllib
        manifest = tomllib.load(open('pyproject.toml', 'rb'))
        deps = manifest['build-system']['requires']
        deps.extend(manifest['project']['dependencies'])
        if rejects := list(filter(re.compile(r'@[^+]+').search, deps)):
          rejects = "  \n".join(sorted(rejects))
          raise Exception(f'VCS dependencies were detected in [build-system]:\n  {rejects}')

    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
        cache: 'pip'
        cache-dependency-path: pyproject.toml

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build ".[doc]"

    - name: Build sdist
      run: |
        git clean -fxd
        make man
        make sdist

    - name: Build wheel
      run: make wheel

    - name: Output dist file info
      run: |
        sha512sum dist/*
        echo ::group::Release contents
        tar -ztf dist/*.tar.gz | sort
        echo ::endgroup::
        echo ::group::All generated content in dist
        find .
        echo ::endgroup::

    - name: Upload wheel
      id: upload-wheel
      uses: actions/upload-artifact@v5
      with:
        name: wheel-release
        path: dist/*.whl
        if-no-files-found: error

    - name: Upload release source
      id: upload-release
      uses: actions/upload-artifact@v5
      with:
        name: release-source
        path: dist/*.tar.gz
        if-no-files-found: error

  test:
    uses: ./.github/workflows/test.yml
    needs: [build]
    with:
        release-artifact-id: ${{ needs.build.outputs.release-artifact-id }}
        artifact-runner-id: ${{ github.runner }}
        format-check: false

  publish:
    if: github.ref_type == 'tag' || github.ref == '/refs/branches/test-pre-release'
    needs: [build, test]
    uses: ./.github/workflows/_publish.yml
    with:
      is_test: ${{ github.ref_type == 'tag' }}
      release-artifact-id: ${{ needs.build.outputs.release-artifact-id }}
      artifact-runner-id: ${{ github.runner }}